# ==========================
# Frontend Streamlit
# ==========================
streamlit==1.55.0

# ==========================
# Requests
# ==========================
requests==2.32.5

# ==========================
# Configuration
# ==========================
python-dotenv==1.2.1